numpy
Pillow  # provides PIL
scipy==1.1
tensorflow==1.13.1 # installs tensorflow with GPU support, should still work even without GPU
tensorflow-gpu==1.13.1 # CHANGE TO THIS when using GPU, then: conda install --file requirements.txt
